<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div class="container" *ngFor="let user of listaUsuarioIniciado">
        <ion-title *ngIf="user.docente" class="centrado">{{"Docente" | translate}}</ion-title>
        <ion-title *ngIf="user.docente == false" class="centrado">{{"Estudiante" | translate}}</ion-title>

      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <app-card nombre="" rut="" imagen="" correo="" sede=""></app-card>
  </ion-header>
<div  class="container">
  <ion-button (click)="cerrarSesion()" color="danger" expand="full">Cerrar sesión</ion-button>

</div>
</ion-content>
