<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div class="container" *ngFor="let user of listaUsuarioIniciado">
        <ion-title *ngIf="user.docente" class="centrado">Docente</ion-title>
        <ion-title *ngIf="user.docente == false" class="centrado">Estudiante</ion-title>

      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <app-card *ngFor="let user of listaUsuarioIniciado" nombre="{{ user.nombre }}" rut="{{ user.rut }}" imagen="{{user.imagen}}" correo="{{user.correo}}" sede="{{user.sede}}"></app-card>
  </ion-header>
<div *ngFor="let user of listaUsuarioIniciado" class="container">
  <ion-button (click)="cerrarSesion()" color="danger" expand="full">Cerrar sesión</ion-button>

</div>
</ion-content>
