<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngFor="let aux of listaUsuarios" [routerLink]="['../profile/', aux.id]">
      <ion-avatar slot="start">
        <ion-img [src]="aux.imagen"></ion-img>
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>{{ aux.id }}</ion-card-title>
        <ion-card-subtitle>{{ aux.nombre }} <ion-icon *ngIf="aux.docente" name="checkmark-circle"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>
