<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button Href="/clases"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ clase.nombre }}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ clase.nombre }}</ion-card-title>
            <ion-card-subtitle>Sigla: {{ clase.sigla }} - {{ clase.seccion }}</ion-card-subtitle>
            <ion-card-subtitle>Docente: {{ clase.docente }}</ion-card-subtitle>
            <ion-card-subtitle>Fecha: {{ clase.dia }}</ion-card-subtitle>
            <ion-card-subtitle>Hora Inicio: {{ clase.horaInicio }} Hora Término: {{ clase.horaTermino }}</ion-card-subtitle>
            <div class="container" *ngFor="let user of listaUsuarioIniciado">
              <ion-button *ngIf="user.docente" (click)="deleteClase()" color="danger"> Eliminar Clase
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
                
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="container" *ngFor="let user of listaUsuarioIniciado">
              <div class="container"*ngIf="user.docente">
                
                <ion-button (click)="cargarData(clase.id,clase.sala,clase.sigla, clase.seccion, clase.sede)" color="warning"> Generar Código QR
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>

              </div>
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="success" *ngIf="user.docente==false">
                    <ion-label>Escanear código QR <ion-icon name="camera"></ion-icon></ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                      <img alt="qr imagen" src="../../../../assets/img/qr-code-icon.jpg" />
                    </div>
                  </ion-accordion>
              </ion-accordion-group>
              <div *ngIf="user.docente==false">
                
                <div *ngFor="let aux of listaQR">
                  <div *ngIf="aux.idclase == clase.id">
                    <ion-item> <script>console.log(aux.qrcode)</script>
                      <ion-input #codigo placeholder="Ingrese el código"></ion-input>
                    </ion-item>
                    <ion-button (click)="marcarAsistencia(codigo.value, aux.qrcode, aux.idclase, user.rut)" color="primary"> Marcar asistencia
                    </ion-button>
                  </div>
                </div>

              </div>
            </div>
          <div *ngFor="let aux of listaQR"  class="container">
                <div class="container" *ngFor="let user of listaUsuarioIniciado" >
                  <div class="container" *ngIf="user.docente">
                    <div *ngIf="aux.idclase == clase.id" class="container"><!-- si la clase tiene código QR sale la opción de quitar código qr -->
                      <img alt="Código QR"  src="{{ aux.qrcode }}"/>
                      <script>console.log(aux.qrcode)</script>
                      <ion-button (click)="deleteQR()" color="warning"> Quitar QR
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                    
                  </div>
                </div>
              </div>
              
          </ion-card-content>
        </ion-card>
          
</ion-content>