<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ clase.nombre }}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ clase.nombre }}</ion-card-title>
            <ion-card-subtitle>{{"Sigla:" | translate}} {{ clase.sigla }} - {{ clase.seccion }}</ion-card-subtitle>
            <ion-card-subtitle>{{"Docente" | translate}}: {{ clase.docente }}</ion-card-subtitle>
            <ion-card-subtitle>{{"Fecha:" | translate}} {{ clase.dia }}</ion-card-subtitle>
            <ion-card-subtitle>{{"Hora Inicio:" | translate}} {{ clase.horaInicio }} {{"Hora Término:" | translate}} {{ clase.horaTermino }}</ion-card-subtitle>
            <div class="container">
              <ion-button (click)="deleteClase()" color="danger"> {{"Eliminar Clase" | translate}}
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
                
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
              <div class="container">
                <div class="div" *ngIf="codQR.id != clase.id">
                  <ion-button (click)="cargarData(clase.id,clase.sala,clase.sigla, clase.seccion, clase.sede)" color="warning"> Generar Código QR
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-button>
                </div>

              </div>
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="success" >
                    <ion-label>Escanear código QR <ion-icon name="camera"></ion-icon></ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                      <img alt="qr imagen" src="../../../../assets/img/qr-code-icon.jpg" />
                    </div>
                  </ion-accordion>
              </ion-accordion-group>
              <div>
                
                <div >
                  <div *ngIf="codQR.idClase == clase.id">
                    <ion-item> <script>console.log(codQR.imagen)</script>
                      <ion-input #codigo placeholder="Ingrese el código"></ion-input>
                    </ion-item>
                    <ion-button (click)="marcarAsistencia(codigo.value, codQR.imagen, codQR.idClase, '', '', '')" color="primary"> Marcar asistencia
                    </ion-button>
                  </div>
                </div>

              </div>
            </div>
          <div>
                <div class="container" *ngFor="let user of listaUsuarioIniciado" >
                  <div class="container" *ngIf="user.docente">
                    <div *ngIf="codQR.idClase == clase.id" class="container"><!-- si la clase tiene código QR sale la opción de quitar código qr -->
                      <img alt="Código QR"  src="{{ codQR.imagen }}"/>
                      <script>console.log(codQR.imagen)</script>
                      <ion-button (click)="deleteQR()" color="warning"> Quitar QR
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                    
                  </div>
                </div>
              </div>
              
          </ion-card-content>
        </ion-card>
          
</ion-content>