<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ clase.nombre }}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ clase.nombre }}</ion-card-title>
            <ion-card-subtitle>{{"Sigla:" | translate}} {{ clase.sigla }} - {{ clase.seccion }}</ion-card-subtitle>
            <ion-card-subtitle>{{"Docente" | translate}}: {{ clase.docente }}</ion-card-subtitle>
            <ion-card-subtitle>{{"Fecha:" | translate}} {{ clase.dia }}</ion-card-subtitle>
            <ion-card-subtitle>{{"Hora Inicio:" | translate}} {{ clase.horaInicio }} {{"Hora Término:" | translate}} {{ clase.horaTermino }}</ion-card-subtitle>
            
            <div *ngFor="let user of listaUsuarios">
              <div *ngIf="user.email == usuario.email">
                <div *ngIf="user.docente">
                  <ion-button (click)="deleteClase()" color="danger"> {{"Eliminar Clase" | translate}}
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="container">
              <div *ngFor="let user of listaUsuarios">
                <div *ngIf="user.email == usuario.email">
                  <div *ngIf="user.docente == true">
                    <div *ngIf="codQR.idClase != v_idClase">
                      <ion-button (click)="cargarData(v_idClase,clase.sala,clase.sigla, clase.seccion, clase.sede)" color="warning"> {{"Generar Código QR" | translate}}
                        <ion-icon name="add-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </div>

                </div>
              </div>
              <div *ngFor="let user of listaUsuarios">
                <div *ngIf="user.email == usuario.email">
                  <div *ngIf="user.docente == false">
                      <label>{{"Estás a "| translate}} <ion-text color="success">{{v_dist}}</ion-text> {{" metros de la sala"| translate}}</label>
                      <p><ion-text color="success" *ngIf="v_dist <=50">{{"Puedes marcar asistencia." | translate}}</ion-text></p>
                      
                      <p><ion-text color="danger" *ngIf="v_dist >=50">{{"Estás muy lejos, no puedes marcar asistencia." | translate}}</ion-text></p>
                    <div *ngFor="let qr of listaQR">
                      <div *ngIf="qr.idClase == v_idClase">
                        
                        <ion-item>
                          <ion-input #codigo placeholder="Ingrese el código"></ion-input>
                        </ion-item>
                        <ion-button (click)="estudiantePresente(codigo.value, qr.imagen, qr.idClase, user.rut, user.nombre, user.apellido)" color="primary"> {{"Marcar asistencia" | translate}}
                        </ion-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let user of listaUsuarios">
              <div *ngIf="user.email == usuario.email">
                <div *ngIf="user.docente">
                  <div class="container" *ngFor="let aux of listaQR">
                    <div *ngIf="aux.idClase == v_idClase" class="container"><!-- si la clase tiene código QR sale la opción de quitar código qr -->
                      <img alt="Código QR"  src="{{ aux.imagen }}"/>
                      <ion-button (click)="deleteQR(aux.id)" color="warning"> {{"Quitar QR" | translate}}
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            
          </ion-card-content>
        </ion-card>
          
</ion-content>