<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clases"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Asistencia" |translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{ clase.nombre }}</h1>
  <div *ngFor="let estudiante of listaEstudiantePresente" >
      <ion-item >
        <ion-label *ngIf="estudiante.idClase == v_idClase">Aquí va el nombre del estudiante<ion-icon color="primary" name="checkmark-circle"></ion-icon></ion-label>
      </ion-item> 
  </div>
</ion-content>
