<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let user of listaUsuarioIniciado"  class="container">
    <div *ngFor="let estudiante of listaUsuario" class="container">
      <ion-item *ngIf="estudiante.docente == false" >
        <ion-label>{{ estudiante.nombre }}</ion-label>
        <div *ngIf="user.docente">
          <ion-toggle *ngIf="estudiante.presente == true" [checked]="true"></ion-toggle><br/><br/>
          <ion-toggle *ngIf="estudiante.presente == false" [checked]="false"></ion-toggle><br/><br/>
        </div>
        <div *ngIf="user.docente == false">
          <ion-icon color="primary" *ngIf="estudiante.presente == true" name="checkmark-circle"></ion-icon>
          <ion-icon color="danger" *ngIf="estudiante.presente == false" name="close-circle"></ion-icon>
        </div>
      </ion-item> 
    </div>
    <ion-button *ngIf="user.docente">
      <ion-icon slot="start" name="save"></ion-icon>
      Guardar asistencia
    </ion-button>
    <ion-button color="secondary"  *ngIf="user.docente">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Cancelar
    </ion-button>
  </div>
</ion-content>
