<ion-content>
  <br><br><br>
  <img alt="Logo" src="../../../assets/img/LogoRegistrAPPLight.png" />
  <ion-card>
    <ion-card-header class="centrado">
      <ion-card-title>Inicio de sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input #correo placeholder="Ingrese su usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input #contrasena placeholder="Ingrese su contraseña" type="password"></ion-input>
      </ion-item>
  </ion-card-content>
  <ion-buttons class="centrado2">
    <ion-button (click)="login(correo.value, contrasena.value)" style="color: rgb(255, 208, 0);" fill="clear">Ingresar</ion-button>
    <ion-button style="color: rgb(0, 17, 255);" fill="clear" [routerLink]="['/register']">Registrarse</ion-button>
  </ion-buttons>
  <ion-button style="color: rgb(0, 17, 255);" fill="clear" [routerLink]="['/registrodocente']">Registrarse como Docente</ion-button>
  <p class="centrado" style="color: rgb(255, 0, 0); text-decoration: underline;">Olvidé mi contraseña</p>
</ion-card>
</ion-content>