<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img alt="Silhouette of mountains" src="../../../assets/img/LogoRegistrAPPLight.png" />
  <ion-card>
    <ion-title class="centrado" >Importación de cuentas</ion-title>
      <ion-card-content>
        <p>Ya tienes cuenta?
          <ion-button fill="clear" [routerLink]="['/login']">Iniciar sesión</ion-button>
          <ion-button fill="clear" (click)="Registrar20()" [routerLink]="['/login']">Importar 20 cuentas</ion-button>
        </p>
        
    </ion-card-content>
  </ion-card>
</ion-content>