<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>  
    <ion-card>
      <ion-item>
        <img alt="Logo" src="../../assets/img/LogoRegistrAPPLight.png" />
      </ion-item>
      <img alt="Silhouette of mountains" src="https://www.nubox.com/hs-fs/hubfs/01%20Brand/Material%20Kit%20de%20Contenidos/Buyer%20Empresa.png?width=600&height=600&name=Buyer%20Empresa.png" />
      <ion-card-header>
        <ion-card-title>{{ "Bienvenido" | translate }}</ion-card-title>
        <ion-card-title>{{ "Conoce tus clases y horarios." | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{"Aquí puedes pasar la asistencia fácilmente escaneando el código QR generado por el docente a cargo de la clase." | translate }}
      </ion-card-content>
      
    </ion-card>

  </ion-header>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13289.336694449434!2d-70.6379776!3d-33.5577088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1700340958343!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>
