<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>  
    <ion-card>
      <ion-item>
        <img alt="Logo" src="../../assets/img/LogoRegistrAPPLight.png" />
      </ion-item>
      <img alt="Silhouette of mountains" src="https://www.nubox.com/hs-fs/hubfs/01%20Brand/Material%20Kit%20de%20Contenidos/Buyer%20Empresa.png?width=600&height=600&name=Buyer%20Empresa.png" />
      <ion-card-header>
        <ion-card-title>{{ "Bienvenido" | translate }}</ion-card-title>
        <ion-card-title>{{ "Conoce tus clases y horarios." | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{"Aquí puedes pasar la asistencia fácilmente escaneando el código QR generado por el docente a cargo de la clase." | translate }}
      </ion-card-content>
      
    </ion-card>
  </ion-header>
</ion-content>
