<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="centrado">Clases</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor ="let user of listaUsuarioIniciado">
    <ion-button *ngIf="user.docente" [routerLink]="['/clases/crearclase']" color="success" expand="block">Crear Clase <ion-icon name="add-circle"></ion-icon></ion-button>
    <app-clasecard *ngFor="let aux of listaClases" [routerLink]="['/clases/', aux.id]"
      nombre="{{aux.nombreAsignatura}}"
      sigla= "{{aux.siglaAsignatura}}"
      seccion= "{{aux.seccion}}"
      docente= "{{aux.docente}}"
      horaInicio= "{{aux.horaInicio}}"
      horaTermino= "{{aux.horaTermino}}"
      ></app-clasecard>
  </ion-card>
</ion-content>
