<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="centrado">Clases</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor ="let user of listaUsuarioIniciado">
    <ion-button *ngIf="user.docente" [routerLink]="['/clases/crearclase']" color="success" expand="block">Crear Clase <ion-icon name="add-circle"></ion-icon></ion-button>
    <div class="contaier" *ngFor="let aux of listaClases">
      <ion-card>
        <app-clasecard [routerLink]="['/clases/', aux.id]"
          nombre="{{aux.nombre}}"
          sigla= "{{aux.sigla}}"
          seccion= "{{aux.seccion}}"
          docente= "{{aux.docente}}"
          horaInicio= "{{aux.horaInicio}}"
          horaTermino= "{{aux.horaTermino}}"
          ></app-clasecard>
          <ion-button [routerLink]="['/clases/asistencia/',aux.id]" color="tertiary" expand="block">Ver asistencia <ion-icon name="list"></ion-icon></ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>
