<ion-content>
  <img alt="Logo" src="../../../assets/img/LogoRegistrAPPLight.png" />

  <ion-card>
    <ion-card-header class="">
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre </ion-label>
          <ion-input #nombre type="text" placeholder="Ingrese su nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo </ion-label>
          <ion-input #email type="email" placeholder="Ingrese correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Edad</ion-label>
          <ion-input #edad type="text" placeholder="Ingrese su edad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input #pass type="password" placeholder="Ingrese contraseña"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <div class="">
        <ion-button size="large" color="warning" (click)="registrarUsuario(email.value, pass.value, nombre.value, edad.value)">Registrar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
