<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="centrado">Ubicación</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let barcode of barcodes">
        <ion-label position="stacked">{{ barcode.format }}</ion-label>
        <ion-input type="text" [value]="barcode.rawValue"></ion-input>
      </ion-item>
    </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="scan()" [disabled]="!isSupported">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-content>

<!-- <script
  type="module"
  src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.js"
></script> -->